body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #757575;
  line-height: 1.5em;
  background-color: #666d75;
  background-image: url("_images/pattern-bkg-default.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
body.edit-page {
  background-color: #666d75;
  //background-image: url("_images/pattern-bkg-edit.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
p {
  display: block;
  line-height: 1.5em;
  font-size: 1em;
}
.u {
  text-decoration: underline;
}
.b {
  font-weight: bold;
}
div.login-container {
  background-image: url(_images/suncreek-unit.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

span.greetings {
  display: inline-block;
  float: left;
  padding: 10px 15px;
  margin: 0 0 0 10px;
  background-color: #757575;
  background-color: #8e1919;
  color: #fff;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
}
body.edit-page span.greetings {
  background-color: #cc0000;
  border-right: 2px solid yellow;
  border-left: 2px solid yellow;
}


div.login {
  // margin: 0 auto;
  width: 90%;
  max-width: 300px;
  // padding: 15px 0px;
  border: 5px solid #fff;
  color: #fff;
  border-radius: 16px;
  background-color: #545c5f;
  background-color: rgba(84,92,95,.8);

background: rgba(84,92,95,0.99);
background: -moz-radial-gradient(center, ellipse cover, rgba(84,92,95,0.99) 0%, rgba(84,92,95,1) 0%, rgba(84,92,95,0.92) 54%, rgba(84,92,95,0.39) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84,92,95,0.99)), color-stop(0%, rgba(84,92,95,1)), color-stop(54%, rgba(84,92,95,0.92)), color-stop(100%, rgba(84,92,95,0.39)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(84,92,95,0.99) 0%, rgba(84,92,95,1) 0%, rgba(84,92,95,0.92) 54%, rgba(84,92,95,0.39) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(84,92,95,0.99) 0%, rgba(84,92,95,1) 0%, rgba(84,92,95,0.92) 54%, rgba(84,92,95,0.39) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(84,92,95,0.99) 0%, rgba(84,92,95,1) 0%, rgba(84,92,95,0.92) 54%, rgba(84,92,95,0.39) 100%);
background: radial-gradient(ellipse at center, rgba(84,92,95,0.99) 0%, rgba(84,92,95,1) 0%, rgba(84,92,95,0.92) 54%, rgba(84,92,95,0.39) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545c5f', endColorstr='#545c5f', GradientType=1 );

  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.58);
}
div.rounded-corners {
  width: 100%;
  padding: 15px;
}
input.pswd-box {
  width: 50%;
  height: 2em;
  font-size: 1.3em;
}
input[type=tel].pswd-box2 {
  width: 100px;
  height: 1.5em;
  font-size: 1em;
  border-radius: 8px;
}
input[type=submit]#login-btn {
  -webkit-appearance: none;
  margin-top: 8px;
  text-align: right;
  float: right;
  cursor: pointer;
  margin-right: 15px;
  padding: 10px 15px;
  background-color: #e1e1e1;
  border: 1px solid #313131;
  border-radius: 8px;
  color: #313131;
  transition: background-color .3s ease;
  &:hover {
    background-color: #fff;
    color: 313131;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f3f3f3 inset !important;
}

// for php error messages
table.xdebug-error {
  tr,
  td {
    font-size: 16px;
    color: #333;
    padding: 10px;
  }
  th {
    color: #000;
    background-color: yellow;
    font-size: 16px;
    padding: 8px;
    span {
      border-radius: 50%;
      padding: 8px;
    }
  }
}
.warning {
  color: red;
}

* {
  box-sizing: border-box;
}
em {
  font-weight: bold;
  color: #333;
}
#mass-email-links-front-door {
  display: block;
  width: 90%;
  margin: 60px auto 0 auto;
}
#mass-email-links {
  display: block;
  width: 90%;
  margin: 110px auto 0 auto;
}
p.underline {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
}
.pad {
  margin-bottom: 10px;
  i.fa-copy {
    cursor: pointer;
    margin-left: 0.5em;
    color: #003f87;
    transition: all 0.2s ease;
    &:hover {
      color: #1d8700;
    }
  }
  i.fa-check {
    margin-left: 0.5em;
    color: #21cd19;
  }
}


#mass-email-links-front-door a.email-links {
  color: #fff;
  &:hover {
    color: #332d22;
  }
  i.fa-copy,
  i.fa-check {
    margin-left: 0.5em;
  }
}


.hide {
  display: none;
}
hr.owner-tenant-divider {
  // width: 96%;
  margin: 10px auto 15px auto;
  color: green;
}
.fa {
  // prevents icon from floating
  // above all other content.
  transform: none;
}
i.fa-home {
  color: #6d7580;
  width: 15px;
}
i.fa-mobile {
  color: #000;
  margin-left: 4px;
  width: 10px;
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
form.emlinks {
  max-width: 450px;
  display: inline-block;
}
a.email-links {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 15px;
  text-align: center;
  background-color: #272C33;
  box-shadow: -4px 4px 5px -2px rgba(0,0,0,0.4);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #8e8e8e;;
  transition: background-color .3s ease, width .3s ease;
  &:hover {
    color: #332D22;
    text-decoration: none;
    background-color: #C3C7CC;
  }
}
a.tel-link {
  color: inherit;
  text-decoration: none; 
  &:hover {
    text-decoration: none;
    cursor: default;
  }
}
#flex-wrapper {
  width: 90%;
  margin: 0 auto;
}
.contact {
  background-color: #fff;
  background-color: rgba(255,255,255,.9);
  margin-bottom: 15px;
  border-radius: 5px;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  box-shadow: -6px 6px 6px -2px rgba(0,0,0,0.39); 
  transition: width .5s ease;
  &:first-of-type {
    margin-top: 20px;
  }
}
.card {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 20px 30px 20px;
}
.address-header {
  width: 100%;
  margin: 0 auto;
  background-color: #332D22;
  border-radius: 5px 5px 0px 0px;
  transition: width .5s ease;
  p.main-address {
    display: inline-block;
    color: white;
    padding: 8px 8px 8px 10px;
  }
  a.edit-link {
    display: inline-block;
    float: right;
    padding: 8px 10px 8px 3px;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.notes {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-right: -5px;
  margin-bottom: -15px;
  margin-left: -5px;
  background-color: #eee;
  border-top: 1px dashed #a92121;
  color: #333;
  border-radius: 0px 0px 5px 5px;
}
p.front-door-error {
  display: inline-block;
  line-height: 1.2em;
  color: #fff;
}
div.error {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1em;
  border: 1px solid #911b1b;
  // border-radius: 3px;
  color: #fff;
  background-color: #911b1b;
}
div.message {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1em;
  border: 1px solid #fff;
  // border-radius: 3px;
  color: #fff;
  background-color: #a81717;
}
span.contact-update-message {
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 10px 16px 15px;
  margin: 60px auto -40px auto;
  border: 3px solid green;
  color: green;
  background-color: #fff;
}
.form-alert {
  background-color: yellow;
  border: 2px solid red;
}



    

@media screen and (min-width: 566px) {
  .large-566-gone {
    display: none;
  }
}
@media screen and (max-width: 565px) {
  .small-565-gone {
     display: none;
  }
}

@media screen and (min-width: 865px) {
  body {
    line-height: 1.3em;
  }
  #flex-wrapper {
    width: 90%;
    margin: 20px auto 60px auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  #mass-email-links {
    text-align: center;
    margin: 60px auto 0 auto;
  }
  #mass-email-links-front-door {
    text-align: center;
    margin: 60px auto 0 auto;
  }
  .contact {
    margin: 10px;
    &:first-of-type {
      margin-top: 10px;
    }
  }
  .card {
    width: 420px;
    // width: 100%;
  }
  p.main-address {
    display: block;
    margin: 0;
  }
  span.contact-update-message {
    margin: 20px auto 20px auto;
  }

} // end media 865
@media screen and (min-width: 1180px) {
    a.email-links {
      display: inline-block;
      width: 250px;
      margin: 0 5px;
  }
  form.emlinks {
    max-width: 100%;
  }
}
div#success-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  span.success-msg {
    padding: 50px;
    text-align: center;
    background-color: rgba(47,126,25,0.9);
    border-radius: 8px;
    color: #fff;
    border: 3px solid #fff;
    width: 90%;
    max-width: 400px;
  }
}
// span.success-msg {
//   text-align: center;
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   background-color: green;
//   color: white;
//   padding: 20px;
//   z-index: 22;
// }
footer {
  // line-height: 3em;
  width: 100%;
  // height: 400px;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 60px;
  margin-top: 50px;
  flex: 1;
  // display: flex;
  // flex-direction: column;
  // flex-grow: 1;
  button#toggle-contact-form {
    background: none;
    border: none;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: inherit;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    margin: 0 auto;
      &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #1e1e1e;
        border: 1px solid #000;
      }
      &:focus {
      outline: 0;
      } 
      &.active {
        border-bottom: 1px dotted #808080;
        width: 96%;
        max-width: 400px;
        text-align: center;
      }
      .close-left {
        padding-left: 70px;
        padding-right: 30px;
      }
      .close-right {
        padding-left: 30px;
        padding-right: 70px;
      }
  }
  form#contactForm {
    width: 100%;
    max-width: 400px;
    margin: 1.5em auto 5em auto;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    label {
      display: block;
      margin-bottom: .5em;
    }
    input {
      margin-bottom: 20px;
      margin-top: 5px;
    }
    input#name,
    input#email {
      height: 25px;
      width: 100%;
      max-width: 400px;
      font-size: 16px;
    }
    textarea#comments {
      height: 150px;
      width: 100%;
      max-width: 400px;
      margin-top: .2em;
      margin-bottom: .2em;
      font-size: 16px;
    }
    input#send {
      display: inline-block;
      float: left;
      width: 150px;
      padding: 10px;
      margin: 10px 0;
      border-radius: 3px;
      border: 1px solid #233851;
      background: #ccc;
      color: #000;
      &:hover {
        background: #565656;
        color: #fff;
      }
      &:active, &:focus {
        outline: 0;
        outline-style: 0;
      }
      &:visited {
        background: #ccc;
      }     
    }
  }

  button#confirm {
    float: left;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 12px;
    // border-radius: 8px;
    border: 1px solid #950808;
    background: #ba2222;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #ba2222;
      color: #fff;
      cursor: default;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }

  button.enable-submit {
    display: none;
  }
  .g-recaptcha {
    margin-top: 10px;
    // float: right;
  }

  button#send {
    float: left;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #206311;
    background: #2cb20c;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #278111;
      color: #fff;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }

  .display {
    display: none;
  }
  .footer-link {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p.copyright {
    display: block;
    width: 90%;
    text-align: right;
    line-height: 1.5em;
    margin: 5em 0;
    font-size: 12px;
    color: #808080;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  footer {
    form#contactForm {
      width: 94%;
      max-width: 420px;
      input#name,
      input#email {
        height: 30px;
      }
    }
    button#toggle-contact-form {
      display: block;
      padding: 8px 0px;
      margin: 0 auto;
      width: 94%;
      max-width: 400px;
      .fa-star {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 445px) {
  footer p.copyright {
    width: 100%;
    text-align: center;
  }
  a.email-links {
      background-color: #272c33;
    &:hover {
      background-color: #272c33;
      color: #fff;
    }
  }

body.edit-page header.edit-page {
  // background-color: #e9af00;
  // background-color: aqua;

  // background: rgba(225,255,0,1);
  // background: -moz-linear-gradient(top, rgba(225,255,0,1) 0%, rgba(248,80,50,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,255,0,1)), color-stop(100%, rgba(248,80,50,1)));
  // background: -webkit-linear-gradient(top, rgba(225,255,0,1) 0%, rgba(248,80,50,1) 100%);
  // background: -o-linear-gradient(top, rgba(225,255,0,1) 0%, rgba(248,80,50,1) 100%);
  // background: -ms-linear-gradient(top, rgba(225,255,0,1) 0%, rgba(248,80,50,1) 100%);
  // background: linear-gradient(to bottom, rgba(225,255,0,1) 0%, rgba(248,80,50,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ff00', endColorstr='#f85032', GradientType=0 );

  
  color: #fff;
  a.header-link {
    transition: background-color .8s ease;
    &:hover {
      background-color: transparent;
      color: #303570;
    }
  }
}
header {
  a.header-link {
    &:hover {
      background-color: #e7e1c8;
      color: #333;
    }
  }
}


div.buttons {
  input[type=submit]#edit-submit {
    background-color: #008D00;
    &:hover {
      background-color: #008D00;
    }
  }
  a#edit-submit {
    &:hover {
      background-color: #008D00;
    }
  }
  a.cancel-button {
    &:hover {
      background-color: #E50000;
    }
  } 
}




} // end 445 media

ul.admin {
  color: #fff;
}


a.edit-admin-cancel {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.copy-info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  background-color: #dbd7cb;
  color: #272c33;
  padding: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
  i.fa-copy {
    margin: 0.2em 0.5em;
  }
}

// final word........................
.pad a {
  color: rgba(0,0,238,1);
  &:visited {
    color: rgba(0,0,238,1);
  }
}
#mass-email-links-front-door,
#mass-email-links {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease;
  a.email-links {
    width: 100%;
    max-width: 100%;
    transition: all 0.2s ease;
  }
  form.emlinks {
    width: 100%;
    max-width: 450px;
    margin: 0 0.25em;
    transition: all 0.2s ease;
  }
}
@media screen and (max-width: 1080px) {
  #mass-email-links-front-door,
  #mass-email-links {
    flex-direction: column;
    form.emlinks {
      max-width: 100%;
      margin: 0 auto;
    }
  }  
}
@media screen and (max-width: 865px) {
  .contact {
    width: 100%;
  }
  #mass-email-links-front-door a.email-links,
  #mass-email-links a.email-links {
    color: #fff;
    background-color: #272C33;
    &:hover {
      color: #fff;
      background-color: #272C33;
    }
  }
}