.login-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-content: center;
}

div.login-box {
	display: block;
	width: 96%;
	max-width: 410px;
	margin: 0 auto;
	border: 2px solid #ccc;
	// padding: 30px;
	background-color: #56636c;
	border-radius: 5px;
	box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.28);
	.message {
		color: #fff;
		width: 98%;
		margin: 0 auto;
	}
	h2 {
		display: block;
		padding: 10px 0px 10px 15px;
		width: 100%;
		margin: 0px 0px 20px 0px;
		background-color: #2e3235;
		border-bottom: 1px dotted #b2bfc8;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: white;
	}
	form {
		padding: 20px;
	}
}
#page > div > form > div.login-input > a {
	display: inline-block;
	padding: 20px 0px 0px 0px;
	margin-right: 20px;
	text-decoration: none;
	background-color: #b7ac80;
	border: 1px solid #2e3235;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	vertical-align: top;
	// baseline: bottom; 
	text-align: center;
	color: #fff;
	transition: background-color .3s ease, border .3s ease;
	&:hover {
		background-color: #e7e1c8;
		border: 1px solid #b8b8b8;
		color: #313131;
		box-shadow: 1px 2px 11px 6px rgba(0,0,0,0.25);
	}
}
div.login-text {
	color: #fff;
	display: inline-block;
	width: 100%;
	max-width: 150px;
 	text-align: right;
}
div.login-input-fields {
	display: inline-block;
	width: 100%;
	max-width: 150px;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
div.login-input {
	// display: inline-block;
	text-align: center;
	// padding-right: 20px;
	margin: 10px auto 0 auto;
	input[type=submit] {
		-webkit-appearance: none;
		padding: 1px; // needed in order to center text for some reason
		text-align: center;
		background-color: #b7ac80;
		border-radius: 50%;
		width: 65px;
		height: 65px;
		color: #fff;
		border: 1px solid #2e3235;
		transition: background-color .3s ease, border .3s ease;
		font-family: 'Lato', sans serif;
		font-size: 1em;
		cursor: pointer;
		&:hover {
			background-color: #e7e1c8;
			border: 1px solid #b8b8b8;
			color: #313131;
			box-shadow: 1px 2px 11px 6px rgba(0,0,0,0.25);
		}
	}
}
div.login-box {
	input[type=text],
	input[type=password] {
		width: 100%;
		max-width: 100px;
		height: 2em;
		font-size: 1em;
		outline: none;
	}

}
@media screen and (min-width: 865px) {
	div.login-box {
		// margin: 60px auto 80px auto;
	}
}


@media screen and (max-width: 420px) {
	div.login-box {
		input[type=text],
		input[type=password] {
			width: 90%;
			max-width: 500px;
		}
	}
	div.login-text {
	 	text-align: left;
	}
	div.login-input-fields {
		max-width: 400px;
	}
}