#flex-wrapper-update {
  width: 90%;
  margin: 110px auto 0 auto;
}
.contact-update {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  box-shadow: -6px 6px 6px -2px rgba(0,0,0,0.39); 
  transition: width .5s ease;
  &:first-of-type {
    margin-top: 60px;
  }
}
.card-update {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 20px 30px 20px;
  
}

@media screen and (min-width: 865px) {
   #flex-wrapper-update {
      width: 90%;
      margin: 50px auto 60px auto;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
    } 
  .contact-update {
    margin: 10px;
    &:first-of-type {
      margin-top: 10px;
    }
  }
  .card-update {
    width: 420px;
  }

}