/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf {
  clear: both;
  line-height: 1px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #e7e1c8;
  color: #333;
  text-align: right;
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.39);
}
header .header-nav {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
header a.header-link {
  display: inline-block;
  text-decoration: none;
  color: #303570;
  padding: 10px 15px;
  margin-right: 40px;
  transition: background-color .3s ease;
}
header a.header-link:hover {
  background-color: #b7ac80;
  color: #fff;
}
header a.home-link {
  margin-right: 0;
}

body.edit-page header.edit-page {
  background-color: #e9af00;
  color: #fff;
}
body.edit-page header.edit-page a.header-link {
  transition: background-color .8s ease;
}
body.edit-page header.edit-page a.header-link:hover {
  background-color: #1a32c4;
}

#flex-wrapper-update > div:nth-child(1) > div.address-header {
  background-color: red;
}

#flex-wrapper-update > div:nth-child(2) > div.address-header {
  background-color: green;
}

#flex-wrapper-update > div:nth-child(3) > div.address-header {
  background-color: blue;
}

#flex-wrapper-update > div:nth-child(4) > div.address-header {
  background-color: yellow;
}

#flex-wrapper-update > div:nth-child(4) > div.address-header > p {
  color: #333;
}

#flex-wrapper-update > div:nth-child(4) > div.address-header > a > i {
  color: #333;
}

#flex-wrapper-update > div:nth-child(5) > div.address-header {
  background-color: MediumVioletRed;
}

#flex-wrapper-update > div:nth-child(6) > div.address-header {
  background-color: OrangeRed;
}

#flex-wrapper-update > div:nth-child(7) > div.address-header {
  background-color: blue;
}

#flex-wrapper-update > div:nth-child(8) > div.address-header {
  background-color: Indigo;
}

#flex-wrapper-update > div:nth-child(9) > div.address-header {
  background-color: crimson;
}

#flex-wrapper-update > div:nth-child(10) > div.address-header {
  background-color: LemonChiffon;
}

#flex-wrapper-update > div:nth-child(10) > div.address-header > p {
  color: #333;
}

#flex-wrapper-update > div:nth-child(10) > div.address-header > a > i {
  color: #333;
}

#flex-wrapper-update {
  width: 90%;
  margin: 0 auto;
}

.contact-update {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  box-shadow: -6px 6px 6px -2px rgba(0, 0, 0, 0.39);
  transition: width .5s ease;
}
.contact-update:first-of-type {
  margin-top: 60px;
}

.card-update {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 20px 30px 20px;
}

@media screen and (min-width: 865px) {
  #flex-wrapper-update {
    width: 90%;
    margin: 50px auto 60px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact-update {
    margin: 10px;
  }
  .contact-update:first-of-type {
    margin-top: 10px;
  }

  .card-update {
    width: 500px;
  }
}
.contact-edit-section {
  width: 100%;
  border: 1px solid #757575;
  color: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #404c62;
  line-height: 1em;
}
.contact-edit-section:first-of-type {
  margin-bottom: 10px;
  background-color: #ebebeb;
  color: #333;
}
.contact-edit-section input {
  width: 160px;
}
.contact-edit-section div.ef {
  display: block;
  width: 90%;
  margin-bottom: 15px;
}
.contact-edit-section div.el {
  width: 54%;
  display: inline-block;
  text-align: right;
  padding-right: 8px;
}
.contact-edit-section div.ei {
  width: 46%;
  display: inline-block;
}
.contact-edit-section div.note-area {
  margin-top: 20px;
}
.contact-edit-section span.note-label {
  display: inline-block;
  margin-bottom: 4px;
}

hr.hr-edit1 {
  width: 80%;
  color: #333;
  margin: 20px auto;
}

hr.hr-edit2 {
  width: 80%;
  color: #fff;
  margin: 20px auto;
}

div.buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
div.buttons input[type=submit] {
  text-align: left;
  font-size: 100%;
  display: inline-block;
  padding: 40px;
  background-color: #5fba7d;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 16px;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color .2s ease;
}
div.buttons input[type=submit]:hover {
  background-color: #336c46;
  text-decoration: none;
}
div.buttons a.cancel-button {
  text-align: right;
  display: inline-block;
  padding: 40px;
  background-color: #a92121;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  line-height: 16px;
  margin: 0 10px;
  transition: background-color .2s ease;
}
div.buttons a.cancel-button:hover {
  background-color: #661010;
  text-decoration: none;
}

@media screen and (max-width: 865px) {
  div.button-footer {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    right: 0;
    overflow: hidden;
    padding: 20px 0px;
    background-color: #e7e1c8;
    border-top: 1px solid #999;
    box-shadow: 0px -6px 10px -2px rgba(0, 0, 0, 0.39);
  }

  input[type=text] {
    width: 100%;
    max-width: 160px;
  }
}
textarea {
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 460px) {
  div.ef {
    margin-bottom: 12px;
  }

  div.el {
    display: block;
    width: 100%;
    text-align: left;
  }

  div.ei {
    display: block;
    width: 100%;
  }
}
table.xdebug-error tr,
table.xdebug-error td {
  font-size: 16px;
  color: #333;
  padding: 10px;
}
table.xdebug-error th {
  color: #000;
  background-color: yellow;
  font-size: 16px;
  padding: 8px;
}
table.xdebug-error th span {
  border-radius: 50%;
  padding: 8px;
}

.warning {
  color: red;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #757575;
  line-height: 1.5em;
  background-color: #666d75;
}

em {
  font-weight: bold;
  color: #333;
}

#mass-email-links {
  display: block;
  width: 90%;
  margin: 60px auto 0 auto;
}

p.underline {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

p.pad {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

hr.owner-tenant-divider {
  margin: 10px auto 15px auto;
  color: green;
}

.fa {
  transform: none;
}

i.fa-home {
  color: #6d7580;
  width: 15px;
}

i.fa-mobile {
  color: #000;
  margin-left: 4px;
  width: 10px;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

a.email-links {
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 15px;
  text-align: center;
  background-color: #272C33;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  transition: background-color .3s ease, width .3s ease;
}
a.email-links:hover {
  color: #332D22;
  text-decoration: none;
  background-color: #C3C7CC;
}

a.tel-link {
  color: inherit;
  text-decoration: none;
}
a.tel-link:hover {
  text-decoration: none;
  cursor: default;
}

#flex-wrapper {
  width: 90%;
  margin: 0 auto;
}

.contact {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  box-shadow: -6px 6px 6px -2px rgba(0, 0, 0, 0.39);
  transition: width .5s ease;
}
.contact:first-of-type {
  margin-top: 20px;
}

.card {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 20px 30px 20px;
}

.address-header {
  width: 100%;
  margin: 0 auto;
  background-color: #332D22;
  border-radius: 5px 5px 0px 0px;
  transition: width .5s ease;
}
.address-header p.main-address {
  display: inline-block;
  color: white;
  padding: 8px 8px 8px 10px;
}
.address-header a.edit-link {
  display: inline-block;
  float: right;
  padding: 8px 10px 8px 3px;
  color: #fff;
  text-decoration: none;
}
.address-header a.edit-link:hover {
  text-decoration: underline;
}

.notes {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-right: -5px;
  margin-bottom: -15px;
  margin-left: -5px;
  background-color: #eee;
  border-top: 1px dashed #a92121;
  color: #333;
  border-radius: 0px 0px 5px 5px;
}

div.error {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1em;
  border: 1px solid #911b1b;
  color: #fff;
  background-color: #911b1b;
}

div.message {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1em;
  border: 1px solid #bdf21c;
  color: #fff;
  background-color: #a81717;
}

@media screen and (min-width: 865px) {
  body {
    line-height: 1.3em;
  }

  #flex-wrapper {
    width: 90%;
    margin: 20px auto 60px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #mass-email-links {
    text-align: center;
  }

  .contact {
    margin: 10px;
  }
  .contact:first-of-type {
    margin-top: 10px;
  }

  .card {
    width: 360px;
  }

  p.main-address {
    display: block;
    margin: 0;
  }
}
@media screen and (min-width: 1180px) {
  a.email-links {
    display: inline-block;
    width: 250px;
    margin: 0 5px;
  }
}
footer {
  line-height: 3em;
  width: 100%;
  height: 400px;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 60px;
  margin-top: 50px;
}
footer .footer-link {
  color: inherit;
  text-decoration: underline;
}
footer .footer-link:hover {
  text-decoration: none;
}
footer p.copyright {
  display: block;
  width: 90%;
  text-align: right;
  line-height: 8em;
  font-size: 12px;
  color: #808080;
}
footer p.copyright a {
  color: inherit;
  text-decoration: none;
}
footer p.copyright a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 445px) {
  footer p.copyright {
    width: 100%;
    text-align: center;
  }
}
ul.admin {
  color: #fff;
}
