div#manage-admins-main {
	margin-top: 60px;
	color: #fff;
	width: 100%;
}
div#page {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0px 20px;
	div.message {
		color: #fff;
	}
	a.admin-link {
		color: inherit;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
h2.manage-h2 {
	margin-bottom: 1.5em;
}