$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #757575;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: green;
$color__link-hover: midnightblue;
$color__heading-main: #3e3e3e;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;



// Primary Menu 
$color__main-nav: #ee750a;
$color__main-nav-text: #fff;
$color__main-nav-hover: #ff9a49;
$color__main-nav-hover-txt: #fff;
$color__main-nav-current-page-bkg: #fff;
$color__main-nav-current-page-txt: #313131;
$color__main-nav-current-page-ancestor: #ff9a49;
$color__main-nav-dropdown: #ee750a;
$color__main-nav-dropdown-hover: #ff9a49;
$color__dropdown-current-page-ancestor-bkg: #ff9a49;
$color__dropdown-current-page-ancestor-txt: #fff;
// small screen nav
$color__menu-toggle: #ee750a;
$color__menu-toggle-txt: #fff;
$color__menu-toggle-border: #ee750a;
$color__menu-toggle-hover: #0b0b9a;
$color__menu-toggle-hover-txt: #fff;
$color__small-menu-item: #0000ff;
$color__small-menu-hover: #0b0b9a;
$color__small-menu-current-page-bkg: #0b0b9a;
$color__small-menu-current-page-txt: #fff;
$color__small-menu-current-page-parent-bkg: inherit;
$color__small-menu-current-page-parent-txt: inherit;
$color__small-menu-item-ancestor-hover: #0b0b9a;
$color__small-menu-current-page-ancestor: #ee750a;

// search
$color__search-box: #3d3ddf;
$color__search-toggle-hover: #3d3ddf;

// widgets
$color__widget-title: #ee750a;
$color__widget-title-border-bottom-color: #ee750a;
$color__widget-link: #0b0b9a;

// comments
$color__comment-by-post-author-bkg: #ededed;

// widgets
$color__recent-entries-fontawesome-icon: #ee750a;
$color__archive-fontawesome-icon: #ee750a;
$color__comments-fontawesome-icon: #ee750a;
$color__pages-fontawesome-icon: #ee750a;

// calendar
$color__calendar-days-of-week-bkg: #4d4d4d;
$color__calendar-days-of-week-txt: #fff;
$color__calendar-empty-day-pad-bkg: #6e6e6e;
$color__calendar-odd-days-bkg: #ccc;
$color__calendar-even-days-bkg: #e1e1e1;
$color__calendar-day-txt: inherit;

$color__calendar-dates-that-contain-posts-link: red;

$color__calendar-footer-bkg: #313131;
$color__calendar-footer-month-bkg: #313131;
$color__calendar-footer-month-txt: #fff;
$color__calendar-footer-month-bkg-hover: #fefefe;
$color__calendar-footer-month-txt-hover: #313131;

// footer
$color__footer-bkg: #313131;
$color__footer-txt: #fff;
